<div class="body fixed-top ">
<div class="container ">
  <h2>JobListing </h2>
  <br>
  <!-- Nav pills -->
  <ul class="nav nav-pills" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" href="#home">Home</a>
    </li>
    
    <li class="nav-item">
      <a class="nav-link"  href="#menu1">Contact</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/login">Login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/signup">Register</a>
    </li>
  </ul>
  </div>
</div>