
<form action="/action_page.php" style="border:1px solid #ccc">
    <div class="container">
      <h1>Upload A New Job</h1>
      <p>Please fill in this form to add a new job.</p>
      <hr>

      <label for="jobTitle"><b>Job Title</b></label>
      <input type="text" placeholder="Enter Job Title" name="jobTitle" required>

      <label for="jobNature"><b>Job Nature</b></label>
      <input type="text" placeholder="Enter Job Nature" name="jobNature" required>

      <label for="category"><b>Category</b></label>
      <input type="text" placeholder="Enter Category" name="category" required>
  
      <label for="industry"><b>Industry</b></label>
      <input type="text" placeholder="Enter Industry" name="industry" required>

      <label for="location"><b>Location</b></label>
      <input type="text" placeholder="Enter Location" name="location" required>

      <label for="minimumSalary"><b>Minimum Salary</b></label>
      <input type="text" placeholder="Enter  Minimum salary" name="minimumSalary" required>

      <label for="maximumSalary"><b>Maximum Salary</b></label>
      <input type="text" placeholder="Enter Maximum Salary" name="maximumSalary" required>
      
      <label for="description"><b>Job Desciption</b></label>
      <textarea type="textarea" placeholder="Enter Job description" name="description" required></textarea>
      
      <label for="deadline"><b>DeadLine</b></label>
      <input type="date"  name="deadline" required>
  
     

      <div class="clearfix">
        
        <button type="submit" class="signupbtn">Submit</button>
      </div>
    </div>
  </form>